section {
    /* margin-top: 100px;
    margin-left: 100px */
    width: 800px;
    border: 1px solid black;
    margin: 50px auto;
}


div.color-box {
    display:inline-block;
    border: 1px solid black;
    width: 200px;
    height: 200px;
    margin: 25px;
}

.main-color {
    background-color: #019b5d;
}

.secondary-color {
    background-color: #5cbe97;
}

.tertiary-color {
    background-color: #f2d591;
}

h1, .main-font {
    font-family: 'Quicksand';
    font-weight: 600;
    font-size:22px;
}

p, #secondary-font {
    font-family: 'Quicksand';
    font-weight: 500;
}

#tertiary-font {
    font-family: 'Josefin Sans';
    font-weight: 200;
    font-style: italic;
}

.bold {
    font-weight: 600;
}

.light {
    font-weight: 500;
}

.centered-text {
    text-align: center;
}

.text-styles {
    font-size: 18px;
}